<div class = "footer">
      <div class="row">
        <div class ="col-md-12 text-center">
          <button id="gototop" type="button" class="btn btn-default" aria-label="go to the top">
              <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
          </button>
          <ul class="list-inline ">
            <li> site map</li>
            <li> about us </li>
            <li> contact</li>
          </ul>
          -|  Designed by Dimitrios Desyllas and Katerina Brani  |-
      </div>
    </div>
  </div>