<div class = "header" id="header">
      <div class="row">
        <div class ="col-md-12">
          <!--<h1>Kawai Developers</h1>-->
          <a href="#header"><img src="./images/logo.svg"> </a>
        </div>
        <div class ="col-md-8 col-sm-8 col-xs-12 description">
          <p>We make nothing special, we just bring you free, cute and
            open source software.</p>
        </div>
        <div class ="col-md-4 col-sm-4 col-xs-12 text-right menu">
          <p >
            <a href="#about_us">about us</a> |
            <a href="#projects">projects</a> |
            <a href="#header">contact </a>
          </p>
        </div>
      </div>
    </div>